Projects/External/BlulineJavaWebService/OttoArchiveWeb/WebContent/wsdl/OttoArchiveWeb.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getCount">
    <complexType>
     <sequence>
                        <element name="connection" type="xsd:string"></element>
                        <element name="search" type="xsd:string" />
     </sequence>
    </complexType>
   </element>
   <element name="getCountResponse">
    <complexType>
     <sequence>
      <element name="getCountReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHello">
    <complexType/>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDocumentPath">
    <complexType>
     <sequence>
     	<element name="connection" type="xsd:string"></element>
     	<element name="id" type="xsd:string" />
     	<element name="userId" type="xsd:string" />
     </sequence>
    </complexType>
   </element>
   <element name="getDocumentPathResponse">
    <complexType>
     <sequence>
      <element name="getDocumentPathReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDocuments">
    <complexType>
     <sequence>
     	<element name="connection" type="xsd:string"></element>
     	<element name="search" type="xsd:string" />
     </sequence>
    </complexType>
   </element>
   <element name="getDocumentsResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCountRequest">

      <wsdl:part element="impl:getCount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDocumentPathResponse">

      <wsdl:part element="impl:getDocumentPathResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDocumentPathRequest">

      <wsdl:part element="impl:getDocumentPath" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDocumentsRequest">

      <wsdl:part element="impl:getDocuments" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDocumentsResponse">

      <wsdl:part element="impl:getDocumentsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCountResponse">

      <wsdl:part element="impl:getCountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="OttoArchiveWeb">

      <wsdl:operation name="getCount">

         <wsdl:input message="impl:getCountRequest" name="getCountRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCountResponse" name="getCountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDocumentPath">

         <wsdl:input message="impl:getDocumentPathRequest" name="getDocumentPathRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDocumentPathResponse" name="getDocumentPathResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDocuments">

         <wsdl:input message="impl:getDocumentsRequest" name="getDocumentsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDocumentsResponse" name="getDocumentsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OttoArchiveWebSoapBinding" type="impl:OttoArchiveWeb">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDocumentPath">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDocumentPathRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDocumentPathResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDocuments">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDocumentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDocumentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OttoArchiveWebService">

      <wsdl:port binding="impl:OttoArchiveWebSoapBinding" name="OttoArchiveWeb">

         <wsdlsoap:address location="http://localhost:8080/OttoArchiveWeb/services/OttoArchiveWeb"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
